.modal_box{
    position: fixed;
    width: 90%;
    height: 90%;
    z-index: 99999;
    top: 5%;
    left: 5%;
    outline: 1 solid rgb(100, 100, 100);
    padding: 0;
    margin: 0;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
}